/* YAD Minimalist Style Template */
/* Generated dynamically by sync_yad_theme.sh */

window,
dialog,
window.background,
#yad-dialog-window {
    background-color: #1a1b26;
    background: #1a1b26;
    font-family: 'JetBrainsMono Nerd Font';
    border: none;
    border-radius: 0px;
}

label {
    font-size: 11pt;
    margin: 20px;
    text-shadow: none;
    color: #c0caf5;
}

button {
    background: transparent;
    color: #c0caf5;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 11pt;
    padding: 10px;
    margin: 5px;
    outline: none;
}

button:hover,
button:hover label {
    background: #24283b;
    background-color: #24283b;
    color: #7aa2f7;
}
